<%- include('../partials/header'); %>

<form id="add-comment-form" method="POST"
    action="/courts/<%= court._id %>/comments/<%= comment._id %>?_method=PUT">
    <textarea name="content"cols="50" rows="10" ><%= comment.content %></textarea>
    <input type="submit" value="EDIT">
  </form>

<%- include('../partials/footer') %>