<%- include('../partials/header'); %>

<h1>Courts</h1>
<p>See New Courts Below</p>
<table>
  <thead>
    <tr>
      <th> Avatar </th>
      <th> Name </th>
      <th> Location </th>
      <th> Details </th>
      <th> Rating </th>
      <th>X</th>
    </tr>
  </thead>
  <tbody>
    <% courts.forEach(function(c) { %>
      <tr>
          <td><img src="<%= c.userAvatar %>" referrerpolicy="no-referrer"></td>
          <td><%= c.court %></td>
          <td><%= c.location %></td>
          <td><a href="/courts/<%= c._id %>">dem deets</a></td>
          <td><%= c.courtRating %>/10</td>
          <td><form action="/courts/<%= c._id %>?_method=DELETE" method="POST">
            <button type="submit">DELETE</button>
          </form></td>
      </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer'); %>