<%- include('../partials/header'); %>

<img src="https://i.imgur.com/1hZtBsT.jpeg" alt="">

<h2>New Courts</h2>
<table>
  <thead>
    <tr>
      <th> Avatar</th>
      <th> Name </th>
      <th> Location </th>
      <th> Rating </th>
    </tr>
  </thead>
  <tbody>
    <% courts.forEach(function(c) { %>
      <tr>
          <td><img src="<%= c.userAvatar %>" referrerpolicy="no-referrer"></td>
          <td><%= c.userName %></td>
          <td><%= c.departs %></td>
          <td><a href="/courts/<%= c._id %>">dem deets</a></td>
          <td><%= c.courtRating %>/10</td>
      </tr>
    <% }); %>
  </tbody>
</table>



<%- include('../partials/footer'); %>