<%- include('../partials/header'); %>

<section>
    <div>Court </div>
    <div><%= court.court %></div>
    <div>COURT RATING</div>
    <div><%= court.courtRating %></div>
    <div><img class="courtpic" src="<%= court.image %>" alt="image did not loaf"></div>
    <button><a href="/courts/<%= court._id %>/edit">EDIT</a></button>
</section>

<br><br><h2>Comments</h2>

  <form id="add-comment-form" method="POST"
    action="/courts/<%= court._id %>/comments">
    <textarea name="content"></textarea>
    <input type="submit" value="Leave A Comment!">
  </form>


    
<% if (court.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %>
        <% court.comments.forEach(function(c) { %>
          <% total += c.rating %>
          <tr>
            <td class="comment-user"><img class="picture" alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer"></td>
            <td><%= c.userName %></td>
            <td><%= c.createdAt.toLocaleDateString() %></td>
            <td><%= c.content %></td>
            <td>
              <% if (user?._id.equals(c.user)) { %>
                <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                  <button type="submit">DELETE</button>
                </form>
              <% } %>
            </td>
          </tr>
        <% }); %>

      </tbody>
    </table>
  <% } else { %>
    <h5>No Comments</h5>
  <% } %>
    
  <%- include('../partials/footer') %>
    