<%- include('../partials/header'); %>

<section>
    <div>Court Name</div>
    <div><%= court.court %></div>
    <div>COURT RATING</div>
    <div><%= court.courtRating %></div>
    <div> beeop beeop</div>
   

    <form action="/courts/<%= court._id %>?_method=DELETE" method="POST">
        <button type="submit">X</button>
    </form>


</section>

<%- include('../partials/footer'); %>